<%- include("partials/header") %>

<!-- LOGIN MODAL -->
<%- include("partials/loginModal") %>

<!-- hero slide -->
<section class="hero">

  <div class="slides">

    <div class="slide active">
      <img src="https://images.unsplash.com/photo-1520975916090-3105956dac38" />
      <div class="hero-content hero-text">
        <h1>New Season</h1>
        <p>Discover the latest arrivals</p>
        <a href="/products" class="hero-cta">Shop Now</a>
      </div>
    </div>

    <div class="slide">
      <img src="https://images.unsplash.com/photo-1516826957135-700dedea698c" />
      <div class="hero-content hero-text">
        <h1>Street Essentials</h1>
        <p>Built for everyday wear</p>
        <a href="/products" class="hero-cta">Explore</a>
      </div>
    </div>

    <div class="slide">
      <img src="https://images.unsplash.com/photo-1490481651871-ab68de25d43d" />
      <div class="hero-content hero-text">
        <h1>Summer Collection</h1>
        <p>Light. Clean. Minimal.</p>
        <a href="/products" class="hero-cta">View Collection</a>
      </div>
    </div>

  </div>

   <button class="slider-arrow prev">&#10094;</button>
<button class="slider-arrow next">&#10095;</button>

  <div class="dots"></div>

</section>


<!-- Below img slides -->

<section class="product-section">

  <h2>Latest Pieces</h2>
  

  <div class="product-slider ">

    <button class="product-arrow prev">&#10094;</button>

    <div class="product-track">
<!-- Filter to show based on category    -->
      <% products.filter(p => p.category === "new")
      .forEach(product => { %>
        <div class="product-card">

          <div class="product-image">
            <img src="<%= product.image %>" alt="<%= product.name %>">

            <button class="add-cart">Add to Cart</button>
          </div>

          <h3><%= product.name %></h3>
          <p>$<%= product.price %></p>

        </div>
      <% }) %>

    </div>

    <button class="product-arrow next">&#10095;</button>

  </div>

</section>

<!--  Below latest release -->

<section class="product-section">
<!-- Top section -->
  <h2>Shirt / Dress</h2>

  <div class="product-slider">

    <button class="product-arrow prev">&#10094;</button>

    <div class="product-track">

      <% products
        .filter(p => p.category === "shirt/dress")
        .forEach(product => { %>

        <div class="product-card">

          <div class="product-image">
            <img src="<%= product.image %>" alt="<%= product.name %>">
            <button class="add-cart">Add to Cart</button>
          </div>

          <h3><%= product.name %></h3>
          <p>$<%= product.price %></p>

        </div>

      <% }) %>

    </div>

    <button class="product-arrow next">&#10095;</button>

  </div>

</section>

 
<!--  Below  Top -->

<section class="product-section">
<!-- Bottom section -->
  <h2>Pants / Skirt</h2>

  <div class="product-slider">

    <button class="product-arrow prev">&#10094;</button>

    <div class="product-track">

      <% products
        .filter(p => p.category === "skirt/pants")
        .forEach(product => { %>

        <div class="product-card">

          <div class="product-image">
            <img src="<%= product.image %>" alt="<%= product.name %>">
            <button class="add-cart">Add to Cart</button>
          </div>

          <h3><%= product.name %></h3>
          <p>$<%= product.price %></p>

        </div>

      <% }) %>

    </div>

    <button class="product-arrow next">&#10095;</button>

  </div>

</section>
  <div>Accessories</div>
</section>

<%- include("partials/footer") %>


<!-- Hero slide script -->
<script src="/js/slider.js"></script>
<!-- Product slider script -->
<script src="/js/productSlider.js"></script>
